.Tl61 {
  text-align: center; }
  .Tl61 * {
    font-family: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman'; }
  .Tl61 ._7xZA {
    display: inline-block;
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg); }
    .Tl61 ._7xZA .qZEn {
      height: 180px;
      overflow: hidden; }
    .Tl61 ._7xZA:nth-of-type(2) .qZEn {
      width: 130px;
      overflow: hidden;
      position: relative;
      -webkit-box-shadow: inset 20px 0 20px -15px rgba(150, 150, 150, 0.8), 20px 0 20px -15px rgba(150, 150, 150, 0.8);
              box-shadow: inset 20px 0 20px -15px rgba(150, 150, 150, 0.8), 20px 0 20px -15px rgba(150, 150, 150, 0.8); }
      .Tl61 ._7xZA:nth-of-type(2) .qZEn::after {
        left: -8px; }
    .Tl61 ._7xZA:nth-of-type(1),
    .Tl61 ._7xZA:nth-of-type(3) .qZEn {
      width: 250px; }
      .Tl61 ._7xZA:nth-of-type(1)::after,
      .Tl61 ._7xZA:nth-of-type(3) .qZEn::after {
        content: '';
        position: absolute;
        right: -8px;
        bottom: 0;
        z-index: 9999;
        height: 100%;
        width: 10px;
        background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(173, 173, 173, 0.8)), to(transparent));
        background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
        border-radius: 50%; }
    .Tl61 ._7xZA:nth-of-type(3) .qZEn::after {
      left: -8px; }
    .Tl61 ._7xZA:nth-of-type(2) ._1mhK {
      left: -10%; }
    .Tl61 ._7xZA:nth-of-type(1) ._1mhK {
      right: -20%; }
    .Tl61 ._7xZA:nth-of-type(3) ._1mhK {
      left: -20%; }
  .Tl61 ._1mhK {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 120px;
    font-weight: bold;
    position: relative;
    top: 8%;
    color: white;
    background: #07b3f9;
    border-radius: 50%;
    display: inline-block;
    -webkit-transform: skew(45deg);
            transform: skew(45deg); }
  .Tl61 h2 {
    font-size: 32px;
    color: #a2a2a2;
    font-weight: bold;
    padding-bottom: 20px; }
  .Tl61 ._2_CO {
    top: -190px;
    left: 30%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    position: relative;
    z-index: 9999;
    display: block;
    background: #535353;
    color: #a2a2a2;
    border-radius: 50%;
    font-style: italic; }
  .Tl61 ._2BpP {
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    z-index: 999;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    content: '';
    width: 0;
    height: 0; }
  .Tl61 .zzzw {
    margin-top: 10%;
    position: relative;
    height: 250px;
    padding-top: 40px; }

@media (max-width: 767px) {
  .Tl61 ._7xZA .qZEn {
    height: 100px; }
  .Tl61 ._7xZA:nth-of-type(2) .qZEn {
    width: 80px; }
  .Tl61 ._7xZA:nth-of-type(1) .qZEn,
  .Tl61 ._7xZA:nth-of-type(3) .qZEn {
    width: 100px; }
  .Tl61 ._1mhK {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 52px; }
  .Tl61 h2 {
    font-size: 24px; }
  .Tl61 ._2_CO {
    top: -110px;
    left: 15%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px; }
  .Tl61 span._2BpP {
    top: 70%;
    right: -3%;
    border-left: 10px solid #535353;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }
  .Tl61 .zzzw {
    height: 150px; } }

/* ==========================================================================
 * FONTS
 * ========================================================================== */
/* ==========================================================================
 * COLORS
 * ========================================================================== */
._3I6F {
  width: 40px;
  height: 40px;
  position: relative; }

._1lOg,
._3fcu {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #11d5aa;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: CeYb 2s infinite ease-in-out;
          animation: CeYb 2s infinite ease-in-out; }

._3fcu {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }

@-webkit-keyframes CeYb {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes CeYb {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* ==========================================================================
 * FONTS
 * ========================================================================== */
/* ==========================================================================
 * COLORS
 * ========================================================================== */
._3ooF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-left-width: 5px;
  font-size: 0.9rem; }
  ._3ooF .LA6r {
    margin-left: auto;
    color: #000;
    opacity: 0.5;
    cursor: pointer;
    font-weight: bold; }
    ._3ooF .LA6r:hover, ._3ooF .LA6r:focus {
      opacity: 0.75; }

._1H-b {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }
  ._1H-b hr {
    border-top-color: #c9e2b3; }
  ._1H-b ._3kfe {
    color: #2b542c; }

._2nPl {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

._2nPl hr {
  border-top-color: #a6e1ec; }

._2nPl ._3kfe {
  color: #245269; }

._2DP3 {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

._2DP3 hr {
  border-top-color: #f7e1b5; }

._2DP3 ._3kfe {
  color: #66512c; }

._2pji {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-left-color: #a94442; }

._2pji hr {
  border-top-color: #e4b9c0; }

._2pji ._3kfe {
  color: #843534; }

._2C9L {
  padding: 7px;
  margin-bottom: 0;
  border: 1px solid #c60c30;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #f3e0e4;
  background-color: #c60c30;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* ==========================================================================
 * FONTS
 * ========================================================================== */
/* ==========================================================================
 * COLORS
 * ========================================================================== */
._1MIF {
  margin-left: -180px;
  /* "#menu" width */
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /*
    Add that light border to separate items into groups.
    */
  /*
    Change color of the anchor links on hover/focus.
    */
  /*
    This styles a link within a selected menu item `<li>`.
    */
  /*
    This styles the menu heading.
    */ }
  ._1MIF._3LPR {
    left: 180px;
    width: 180px; }
  ._1MIF a {
    color: #999;
    border: none;
    padding: 0.8em 0 0.8em 0.8em; }
  @media (min-width: 769px) {
    ._1MIF {
      left: 180px; } }
  ._1MIF .pure-menu,
  ._1MIF .pure-menu ul {
    border: none;
    background: transparent; }
  ._1MIF .pure-menu ul,
  ._1MIF .pure-menu .menu-item-divided {
    border-top: 1px solid #333; }
  ._1MIF .pure-menu li a:hover,
  ._1MIF .pure-menu li a:focus {
    background: #333; }
  ._1MIF .pure-menu-selected a.pure-menu-link {
    color: #fff; }
    ._1MIF .pure-menu-selected a.pure-menu-link:visited {
      color: #fff; }
  ._1MIF .pure-menu-heading {
    font-size: 125%;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 0;
    padding: 0.5em 0.8em;
    text-transform: uppercase; }

._4PgF {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em; }
  ._4PgF._3LPR {
    left: 180px; }
  ._4PgF:hover, ._4PgF:focus {
    background: #000; }
  ._4PgF span {
    position: relative;
    display: block; }
    ._4PgF span, ._4PgF span::before, ._4PgF span::after {
      background-color: #fff;
      width: 100%;
      height: 0.2em; }
    ._4PgF span::before, ._4PgF span::after {
      position: absolute;
      margin-top: -0.6em;
      content: ' '; }
    ._4PgF span::after {
      margin-top: 0.6em; }
  @media (min-width: 769px) {
    ._4PgF {
      position: fixed;
      left: 180px;
      display: none; }
      ._4PgF._3LPR {
        left: 180px; } }

/* ==========================================================================
 * FONTS
 * ========================================================================== */
/* ==========================================================================
 * COLORS
 * ========================================================================== */
body {
  color: #777;
  line-height: 1.6; }

._2Kw_ {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  left: 0;
  padding-left: 0;
  /*
    Hides the menu at `$mobile` (768px), but modify this based on your app's needs.
    */ }
  ._2Kw_ ._3tuF {
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 1.6em; }
    ._2Kw_ ._3tuF h2,
    ._2Kw_ ._3tuF h3 {
      margin: 50px 0 20px 0;
      font-weight: 300;
      color: #888; }
    ._2Kw_ ._3tuF h3 {
      margin-top: 30px;
      font-size: 1.1em; }
  ._2Kw_ ._2pVw {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee; }
    ._2Kw_ ._2pVw h1 {
      margin: 0;
      font-size: 3em;
      font-weight: 300;
      line-height: 1.2; }
    ._2Kw_ ._2pVw h2 {
      font-weight: 300;
      font-size: 1.2em;
      color: #ccc;
      padding: 0;
      margin-top: 0; }
  ._2Kw_ ._8ndr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 2em; }
  ._2Kw_ .tWSf {
    margin: 2em 0.5em 0 0.5em;
    width: auto; }
    @media (min-width: 769px) {
      ._2Kw_ .tWSf {
        margin-left: 2em;
        margin-right: 2em; } }
  @media (min-width: 769px) {
    ._2Kw_ {
      padding-left: 180px;
      /* left col width "#menu" */
      left: 0; }
      ._2Kw_ ._2pVw {
        padding-left: 2em;
        padding-right: 2em; } }
  @media (max-width: 769px) {
    ._2Kw_ {
      /* Only apply this when the window is small. Otherwise, the following
        case results in extra padding on the left:
            * Make the window small.
            * Tap the menu to trigger the active state.
            * Make the window large again.
        */ }
      ._2Kw_._3yvj {
        position: relative;
        left: 180px; } }

/* ==========================================================================
 * FONTS
 * ========================================================================== */
/* ==========================================================================
 * COLORS
 * ========================================================================== */
._3AAb {
  padding: 0 0.5em; }
  @media (min-width: 769px) {
    ._3AAb {
      padding-left: 2em;
      padding-right: 2em; } }

._33fZ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  ._33fZ ._2_Ke {
    width: 100%; }
  ._33fZ ._1Pl-,
  ._33fZ ._2deW {
    display: none; }
  @media (min-width: 992px) {
    ._33fZ {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      ._33fZ ._1Pl- {
        display: block;
        width: 60%; }
      ._33fZ ._2deW {
        display: block;
        margin-top: -2em;
        width: 40%; }
      ._33fZ ._3KpO {
        width: 100%; }
      ._33fZ ._2_Ke {
        display: none; } }

.hcCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

._1LpN {
  -webkit-column-width: 21.5rem;
          column-width: 21.5rem;
  width: 100%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  position: relative;
  color: #444; }
  ._1LpN::before {
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 1px;
    content: ''; }
  ._1LpN dl {
    -webkit-column-break-inside: avoid;
            break-inside: avoid-column;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #e6e6e6; }
    ._1LpN dl dt {
      margin: 0;
      padding: 0.75rem;
      width: 50%;
      display: table-cell;
      font-weight: bold; }
    ._1LpN dl dd {
      display: table-cell;
      padding: 0.75rem;
      width: 50%;
      overflow: hidden;
      vertical-align: top;
      color: foreground-color(#f8f8f8);
      background: #f8f8f8; }
      ._1LpN dl dd div,
      ._1LpN dl dd a {
        text-decoration: none;
        display: block; }
        ._1LpN dl dd div + div,
        ._1LpN dl dd div + a,
        ._1LpN dl dd a + div,
        ._1LpN dl dd a + a {
          margin-top: 0.25rem; }

/* ==========================================================================
 * FONTS
 * ========================================================================== */
/* ==========================================================================
 * COLORS
 * ========================================================================== */
.LD23 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }
  .LD23 .sicon {
    fill: #a1a4ab;
    width: 20px;
    height: 20px; }
  .LD23 > div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 5em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .LD23 > div > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      background: #2f3542;
      width: 80%;
      margin: 0 auto 0 3em;
      border-radius: 5px; }
      .LD23 > div > div > div._2MT7 {
        height: 100%;
        width: 3em;
        background: #fff;
        margin-left: 1em;
        border: 0.1px solid #ddd; }
        .LD23 > div > div > div._2MT7._3sOZ {
          background-color: #eee;
          color: white;
          border: 0.1px solid #eee;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .LD23 > div > div > div._2MT7._3sOZ .sicon {
            fill: white; }
      .LD23 > div > div > div._1g48 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .LD23 > div > div > div._1g48 > span {
          color: #8e99af;
          font-size: 0.7em;
          margin-left: 1em;
          line-height: 1.3; }
    .LD23 > div > span {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      position: absolute;
      left: 0;
      width: 0;
      font-size: 0.7em;
      white-space: nowrap;
      margin-left: 20px;
      margin-top: 12px; }
  .LD23 .pVvc {
    background-color: #f8f8f8;
    border: 0.1px solid #ddd; }
  .LD23 .dbjM {
    background-color: #2980b9;
    color: #6ab0de; }
    .LD23 .dbjM .sicon {
      fill: #409ad5; }
    .LD23 .dbjM > span {
      margin-top: 10px; }
  .LD23 ._3Hv3 {
    background-color: #8e44ad;
    color: #ba87d0; }
    .LD23 ._3Hv3 .sicon {
      fill: #a563c1; }
    .LD23 ._3Hv3 > span {
      margin-top: 15px; }
  .LD23 ._3wXJ {
    background-color: #4b4b4b;
    color: #7e7e7e; }
    .LD23 ._3wXJ .sicon {
      fill: #656565; }
    .LD23 ._3wXJ > span {
      margin-top: 15px; }
  .LD23 ._3jkM {
    background-color: #34495e;
    color: #587ca0; }
    .LD23 ._3jkM .sicon {
      fill: #46637f; }
    .LD23 ._3jkM span {
      margin-top: 13px; }
  .LD23 ._1rWA {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3; }
  @media (max-width: 992px) {
    .LD23 {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .LD23 > div {
        width: 25%; }
      .LD23 > div._1rWA {
        width: 100%; } }


